@import "./variables";
@import "./mixins";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 80%;
  hyphens: auto;

  @include respond(tab-port) {
    font-size: 100%;
  }
 
}

.App {
    width: 100%;
    font-family: $secondary-font;
    background-color: $tertiary-color;

    .footer {
      background-color: $primary-color;
      padding: 5rem;
      display: flex;
      justify-content: center;

      img {
        height: 5rem;
      }
    }

}
