@import "./variables";
@import "./mixins";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 80%;
  hyphens: auto;

  @include respond(tab-port) {
    font-size: 100%;
  }
}

.App {
  font-family: $secondary-font;
  background-color: $primary-color;
  box-sizing: border-box;


  .footer {
    background-color: $primary-color;
    padding: 5rem;
    display: flex;
    justify-content: center;

    img {
      height: 5rem;
    }
  }
}
