@import url("https://fonts.googleapis.com/css2?family=Lobster&family=PT+Sans+Narrow&display=swap");

$primary-color: #071C23;
$secondary-color: #00D475;
$tertiary-color: #EEE;
$primary-font: 'Lobster', cursive;
$secondary-font: 'PT Sans Narrow', sans-serif;