.landing {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: $primary-color;
  color: white;

  &__heading {
    font-size: 3rem;
    margin-top: 2rem;
    color: white;
    background-color: rgba($secondary-color, 0.8);
    width: 100%;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 1rem 1rem rgba($secondary-color, 0.8);
  }

  &__contentContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  @include respond(tab-port) {
  }
}
