.landing {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  color: white;
  margin-top: 4rem;

  &__heading {
    font-size: 3rem;
    margin-top: 2rem;
    color: white;
    background-image: linear-gradient(to right bottom, $secondary-color, $primary-color);
    width: 100%;
    text-align: left;
    padding: 1rem;
    padding-left: 3rem;
  }

  &__contentContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  @include respond(tab-port) {
  }
}
