.landing {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: $primary-color;
  color: white;

  &__heading {
    font-size: 3rem;
    align-self: center;
    margin-top: 2rem;
    text-decoration: underline;
    color: $secondary-color;
  }

  &__contentContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  }

  @include respond(tab-port) {
  }
}
