.movieDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $primary-color;
  color: white;
  padding-top: 6rem;

  &__map {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__backdrop {
    width: 100%;
    position: relative;
    box-shadow: 0 0.5rem 2rem rgba($secondary-color, 0.4);

    &__backButton {
      position: absolute;
      top: 0rem;
      left: 0.5rem;
      font-size: 3rem;
      color: white;
    }
    img {
      width: 100%;
    }

    &__banner {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0.5rem;
      padding-left: 2rem;
      background-color: rgba($primary-color, 0.8);
      color: white;
    }
  }

  &__overview {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__vote {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;

      &__star {
        color: rgb(248, 211, 1);
        font-size: 1.4rem;
      }

      &__average {
        display: flex;
        flex-direction: row;
      }
    }

    &__date {
      font-size: 1.4rem;
      font-weight: 700;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-evenly;
    }

    &__synopsis {
      margin: 4rem 0;
      h3 {
        text-transform: uppercase;
        text-decoration: underline;
        line-height: 2rem;
      }

      p {
        text-indent: 1rem;
        padding: 2rem;
      }
    }

    &__trailer {
      width: 100%;
    }
  }
  &__reviews {
    align-self: center;
    text-align: center;
    margin-bottom: 5rem;

   &__arrow {
     font-size: 2rem;
     transition: all .4s;

     &--expanded {
       transform: rotate(180deg);
     }
   }
  }

  @include respond(tab-port) {
    &__backdrop__backButton {
      top: 1rem;
      left: 3rem;
      font-size: 4rem;
    }

    &__overview {
      padding: 7rem;
    }
  }

  @include respond(desktop) {
    .movieDetails__overview__trailer {
      height: 30rem;
      width: 70%;
    }
  }
}
