.search {
  background-color: $primary-color;
  color: white;
  padding: 3rem;

  &__header {
    display: flex;
    flex-direction: row;
    border-bottom: solid white 2px;
    margin-bottom: 3rem;

    &__close {
      font-size: 2rem;
      margin-right: 1rem;
      color: white;
    }
  }

  &__result {
    margin: 2rem 0;
    background-color: rgba(white, 0.9);
    padding: 2rem;
    border-radius: 7px;
    box-shadow: 0 1rem 1rem rgba(black, 0.8);
    transition: all .4s;

    p {
      padding: 0 2rem;
    }
  }

  &__empty {
    height: 90vh;
  }

  @include respond(desktop) {
      &__result:hover {
          @include elevate(box);
      }
  }
}
