.showDetails {
  width: 100%;
  background-color: $primary-color;
  color: white;
  padding-top: 6rem;

  &__backdrop {
    width: 100%;
    position: relative;
    box-shadow: 0 0.5rem 2rem rgba($secondary-color, 0.4);

    img {
      width: 100%;
    }

    &__banner {
        width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0.5rem;
      padding-left: 2rem;
      background-color: rgba($primary-color, 0.8);
      color: white;
    }
    &__backButton {
      position: absolute;
      top: 0rem;
      left: 0.5rem;
      font-size: 3rem;
      color: $secondary-color;
    }
  }

  &__overview {
    padding: 3rem;

    p {
        text-indent: 2rem;
        margin: 1rem;
    }
  }
}
