.carousel {
  color: white;
  margin: 3rem 0;
  display: flex;
  height: auto;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  width: 25rem;

  h2 {
    color: white;
    font-style: italic;
    text-transform: uppercase;
  }


  &__item {
    h3 {
      text-align: center;
    }

    img {
      border-radius: 3px;
      margin-bottom: 1rem;
      width: 25rem;
      z-index: 1;
      transition: all .4s;

    }

    &__badge {
      height: 4rem;
      width: 6rem;
      background-image: linear-gradient(
        to right bottom,
        $primary-color,
        $secondary-color,
        $primary-color
      );
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      font-size: 2rem;
      padding-top: 1rem;
      position: absolute;
      top: 3rem;
      left: 0;
      z-index: 5;

      &__icon {
        font-size: 1rem;
        transform: translateY(-1rem);
      }
    }
  }

  @include respond(tab-port) {
    margin: 3rem;
    width: 20rem;

    &__item {
      img {
        width: 100%;
      }
    }
  }

  @include respond(desktop) {
    &__item {
      img:hover {
        @include elevate(box);
      }
    }
  }
}
