.cast {
  margin: 7rem 0;
}

.castCard__carousel {
  color: white;
  margin: 5rem 0;
  border-radius: 3px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;



  &__item {
    width: 80%;
 

    img {
      width: 50%;
    }
  }

  h4 {
      font-size: 2rem;
  }

  @include respond(tab-port) {
    display: none;
  }
}

.castCard__grid {
  display: none;
  text-align: center;

  @include respond(tab-port) {
    margin: 3rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;

    &__card {
      width: 15rem;

      img {
        width: 15rem;
      }
    }
  }

  @include respond(desktop) {
    &__card:hover {
      @include elevate(box);
    }
  }
}
