.castCard {
  background-color: rgba(white, 0.9);
  color: black;
  padding: 1rem;
  margin: 5rem 0;
  box-shadow: 0 1rem 1.5rem rgba(white, .7);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  &__item {
    display: flex;
    justify-content: center;
      color: black;
    img {
      width: 100%;
    }
    & > * {
      margin-bottom: 1rem;
    }
  }

  h4 {
      font-size: 2rem;
  }
}
