.castCard {
  color: white;
  margin: 5rem 0;
  border-radius: 3px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;



  &__item {
    width: 80%;
 

    img {
      width: 50%;
    }
  }

  h4 {
      font-size: 2rem;
  }
}
