@import "../mixins";

.header {
  width: 100%;
  background-color: $primary-color;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__logo {
    color: $secondary-color;
    font-size: 3rem;
    font-family: $primary-font;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    color: white;
    font-size: 3rem;
    transition: all .4s;

    &--up {
      transform: rotate(540deg) translateY(-1rem);
      transform-origin: center;
    }
  }

  @include respond(tab-port) {
   
  }

  &__searchBar {
    display: flex;
    flex-direction: column;
    color: white;
    animation: expand 1s;
    visibility: visible;
    padding: 1rem 0;
  
  
    input {
      border-radius: 3px;
      border: none;
      height: 2rem;
      width: 100%;
    }
  
    button {
      width: 50%;
      padding: 0.5rem;
      background-color: $secondary-color;
      color: white;
      margin: 1rem;
      border-radius: 7px;
      border: none;
      box-shadow: 0 1rem 1rem rgba(black, 0.6);
      align-self: center;
    }
  }
  
  &__collapsed {
    visibility: hidden;
  }
  
}
