.navbar {
  visibility: hidden;
  display: none;
  height: 0;
  width: 0;

  @include respond(tab-port) {
    visibility: visible;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    background-color: $primary-color;

    h2 {
      margin: 5rem 7rem 2rem 0;
      color: $secondary-color;
      text-transform: uppercase;
    }

    ul {
      list-style: none;
      line-height: 3rem;
      font-size: 2rem;

      li {
        transition: all 0.3s;

        &:hover {
          cursor: pointer;
          text-shadow: 0 0.5rem 0.5rem rgba(black, 0.8);
          color: $secondary-color;
        }
      }
    }
  }
}
